
@{
    ViewData["Title"] = "Footer";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <a asp-area="" asp-controller="" asp-action="" class=""></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="TermofUse">Term of use</a></li>
            </ul>
        </div>
    </div>
</nav>
<p>&copy; @DateTime.Now - SimplyHelp</p>
