@model SimplyHelp.Models.Users
@{
    ViewData["Title"] = "Upsert";
    var list = ViewBag.DropDownList;
}

<br />
<h2 class="text-info">@(Model.Id != 0 ? "Edit" : "Create") Users</h2>

<div class="border container" style="padding:30px;">
    <form method="post">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="FullName"></label>
            </div>
            <div class="col-md-6">
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Email"></label>
            </div>
            <div class="col-md-6">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Password"></label>
            </div>
            <div class="col-md-6">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="IdRole"></label>
            </div>
            <div class="col-md-6">
                <select asp-for="IdRole" asp-items="@(new SelectList(ViewBag.DropDownList, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="IdRole" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 col-md-offset-3">
                <button type="submit" class="btn btn-primary form-control">@(Model.Id != 0 ? "Update" : "Create")</button>
            </div>
            <div class="col-md-3">
                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

