@{
    ViewData["Title"] = "About";
}

<h2 style="margin-top:50px; margin-left: auto; margin-right: auto; padding-left: 30px;">Our Mission:</h2>
<h3>
    <p style="margin-left: auto; margin-right: auto; padding-left: 80px; padding-right: 80px; text-align: center;">
        <i>Our Mission is to help the victims of a disaster search for organizations that are providing assistance whether it’s financial, food or shelter. The site will have links to the agencies website where the victims would be able to access and request the aid they are in need of.</i>
    </p>
</h3>
