@{
    ViewData["Title"] = "Contact";
}
<!--Rebekah 3/27/2020: added container class, since container class was taken away from the body in the _Layout.cshtml file-->
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row text-center">
        <img class="contact-img" alt="contact" src="~/images/contactus.png">
        <br />
        <address>
            University of South Florida<br />
            Tampa, FL 33620<br />
            <strong>Phone:</strong>
            000-000-0000
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@SimplyHelp.com</a><br />
        </address>
    </div>
</div>
