
@{
    ViewData["Title"] = "SimplyHelp Home";
}

<div class="col-md-12 index-Message">        
    <h3 >During a disaster people tend to look for aid but do not know where to look and apply.
    <br><br>
        This website helps the victims of a disaster search for organizations that are providing assistance whether it’s financial, food or shelter. The site will have links to the agencies website where the victims would be able to access and request the aid they are in need of.
    </h3>
</div>
<br />
<div class="col-md-12">
    <div class="col-md-4 col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/fema-logo-blue.svg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">FEMA provide assistance during and after disasters. FEMA will direct the disaster victims to
                the resources from the disasterassitance.gov site.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/daip-logo.png" alt="Card image cap" width="250px;">
            <div class="card-body">
                <p class="card-text">DisasterAssistance.gov works in conjunction with FEMA (FEMA is a managing partner) this site will provide 
                information on where to get assistance, apply for aid and check the status of an aid assistance application. It will also direct 
                you to other sites where you can get help for business, local government or community.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/Logo_USAGov.png" alt="Card image cap" width="100px;">
            <div class="card-body">
                <p class="card-text">This site helps direct the victims of a disaster to other resources where they can get 
                emergency financial assistance from the government such as D-SNAP, Disaster unemployment, Emergency utility assistance, etc.</p>
            </div>
        </div>
    </div>    
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/redcross-logo.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">The American Red Cross provides shelter, food, health and mental health services 
                (Psychological First Aid) to assist with people fundamental needs so they can continue their day-to-day activities</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/salvationshield.svg" alt="Card image cap" width="100px;">
            <div class="card-body">
                <p class="card-text">The organization provides food, water, and shelter to disaster victims, help with cleanup, and help the 
                victims get in touch with their family members. With your zip code, the site will direct you to your local Salvation Army.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/bg_logo_400.png" alt="Card image cap" width="250px;">
            <div class="card-body">
                <p class="card-text">The site is managed by the Department of the Treasury. This site directs you to apply to a program that is based on a Special tax 
                law provisions that could help taxpayers and businesses that have been affected by a disaster recover financially.</p>
            </div>
        </div>
    </div>
    
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/ccusa_logo.svg" alt="Card image cap" width="250px;">
            <div class="card-body">
                <p class="card-text">The organization helps aid those recovering from a disaster. With your zip code it will direct you to the local catholic charity location.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/HUD-HEADER-opensans.jpg" alt="Card image cap" width="250px;">
            <div class="card-body">
                <p class="card-text">Housing and Urban Development (HUD) has a variety of resources such as FHA Homeowners Disaster relief, Active Disaster Grants, Individual Disaster Assistance.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/logo-color-2.png" alt="Card image cap" width="250px;">
            <div class="card-body">
                <p class="card-text">Americares provide assistance worldwide to victims affected by disaster with medicine, medical supplies and health programs. 
                   Their Clinical Services supply excellent health care for the people who do not have any.</p>
            </div>
        </div>
    </div>
</div>



