@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h2>@ViewData["Title"]</h2>*@

<h1>Privacy Policy</h1>

<section style="margin-left: 250px; margin-right: 250px; padding-left: 30px;">


    <h3>Information collected and use</h3>
    <p>The information that is collected on this website is used for sending text and/or email to the users that gave subscribed. The personal collected on this site is: name, phone and email address. We do not share your personal information with a third party unless it required by law.</p>

    <h3>Security Commitment</h3>
    <p>SimplyHelp has tools that will help prevent unauthorized access. Preserve data security and the way your personal information is collected, Anyone that attempt to or obtain unauthorized personal information, from this website will be disclosed to the law enforcement authorities which can take legal action under the Computer Fraud and Abuse act (CFAA) and/or any applicable law.</p>

    <h3>Children’s privacy</h3>
    <p>SimplyHelp is dedicated to comply with the Children Online Privacy Protection Act (COPPA), we do not collect personal information from children under the age of 13 years old personal Information.</p>

    <h3>Information collected by the third party</h3>
    <p>We do not share your personal information with a third party unless there is a court order. If you go through one of our third-party sites, the third-party site may collect information. We do not control the third party collection of information and how the third party uses the information.</p>

    <h3>Term of use changes and/or modifications</h3>
    <p>We reserve the right to change, modify the Privacy Policy. We will post any changes that have occurred. If you access this site after the changes you are confirming you are accepting the changes that occurred to the Privacy Policy.</p>

    <h3>Cookie use</h3>
    <p>We do not download cookies to your computer.</p>

    <h3>Text messages??? </h3><!--(not sure if we are doing text or just email)-->
    <p>We will text you from 23456 (made up number). We will not charge you for text messages. Your mobile carrier may charge you for text messages, Data rate apply based on your carrier policy--please see carrier policy. We will not use you phone number for any type of marketing, nor track.</p>

</section>
