@{
    ViewData["Title"] = "Term Of Use";
}

<h1>Term of Use</h1>

<section style="margin-left: 250px; margin-right: 250px; padding-left: 30px;">


    <h3>Owners rights</h3>
    <p>
        We own, solely and exclusively, all the rights to the website to include contents, copyrights, trademark rights, database rights, code, data, exclusive design, look and feel, and organization of the
        website. Accessing this website does not give the rights to the contents, copyrights, trademark rights, database rights, code, data, exclusive design, look and feel, and organization of the website.
    </p>

    <h3>Prohibition of use</h3>
    <p>
        Unless authorized by applicable rights member, you may not use this website to advertise, or change, edit, delete, remove, any of the content, code, data, or materials on or available through
        the Web Site. You are violating copyrights law and any applicable state laws in the United States if you are using the contents, code, material, data and any of the information listed in owners’
        rights section and may be subject to liability for the property use without permission.
    </p>

    <h3>User Information</h3>
    <p>
        Information collected and use policy is found in the Policy Privacy page. By providing personal information, you agree and assume responsibility that all the user information
        and contents provided are correct.
    </p>

    <h3>Third party Website</h3>
    <p>
        You may be able to link from the Web Site to third party web sites. You acknowledge and agree that we have no responsibility for the information, content, products, services, or materials
        third-party linked sites. We do not endorse or sponsor any of the web sites or the information, content, products, services, or materials offered on third party web sites. We do not represent
        or certify that the information of any third party web site is correct, compliant with state or federal law, or compliant with copyright or other intellectual property laws. We are not responsible for or any form of transmission received from any linked web site. You assume all responsibility and consequence from accessing and providing any personal information to the third party website.
    </p>

    <h3>Disclaimer of warranties</h3>
    <p>All services, contents, functions and material provided in this website is “as is” without warranty of any kind, including without limitation any warranty for information, data and data processing services..</p>

    <h3>Term of use changes and/or modifications</h3>
    <p>We reserve the right to change, modify the term of use. We will post any changes that have occurred. If you access this site after the changes you are confirming you are accepting the changes that occurred to the terms of use.</p>

    <h3>Dissolution</h3>
    <p>Any part of this website can be ended, changed or discontinued by owner of SimplyHelp. We reserve our right to cancel, restrict or end the access of anyone that does not comply with the use of terms or any applicable law.</p>

    <h3>Applicable laws</h3>
    <p>Anyone accessing this website must comply with their applicable law from the location they access this site and any link thereof. .</p>

</section>
