<div class="row">
    <div class="col-md-4">
        <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/RedCrossCFL?ref_src=twsrc%5Etfw">Tweets by RedCrossCFL</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4">
        <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/NWSNHC?ref_src=twsrc%5Etfw">Tweets by NWSNHC</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4">
        <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/FLSERT?ref_src=twsrc%5Etfw">Tweets by FLSERT</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>