@{
    ViewData["Title"] = "Twitter";
}

<!--Rebekah 3/27/2020: added container class, since container class was taken away from the body in the _Layout.cshtml file-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/RedCrossCFL?ref_src=twsrc%5Etfw">Tweets by RedCrossCFL</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/NWSNHC?ref_src=twsrc%5Etfw">Tweets by NWSNHC</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4 tweet-padding ">
            <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/FLSERT?ref_src=twsrc%5Etfw">Tweets by FLSERT</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/fema?ref_src=twsrc%5Etfw">Tweets by fema</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/USAGov?ref_src=twsrc%5Etfw">Tweets by USAGov</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/BenefitsGOV?ref_src=twsrc%5Etfw">Tweets by BenefitsGOV</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/CCharitiesUSA?ref_src=twsrc%5Etfw">Tweets by CCharitiesUSA</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/SalvationArmyUS?ref_src=twsrc%5Etfw">Tweets by SalvationArmyUS</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" data-width="600" data-height="750" href="https://twitter.com/HUDgov?ref_src=twsrc%5Etfw">Tweets by HUDgov</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
